<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script src="/index.js"></script>
    <title>Hello, world!</title>
  </head>
  <body ng-app = "AutosApp">
  <!-- Mi head -->
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">Crud for Restful and AngularJS</a>
	</nav>
	<!-- Content -->

	  <div class="card-body" ng-controller = "AutosCtrl as ctrl">

		  <div class="form-group">
		    <label>Name</label>
		    <input type="text" class="form-control" ng-model="ctrl.newAuto.name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Model</label>
		    <input type="text" class="form-control" ng-model="ctrl.newAuto.model">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Trademark</label>
		    <input type="text" class="form-control" ng-model="ctrl.newAuto.trademark">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Color</label>
		    <input type="text" class="form-control" ng-model="ctrl.newAuto.color">
		  </div>
		  <button type="submit" class="btn btn-primary" ng-click = "ctrl.addAuto(ctrl.newAuto)">Guardar</button>
	  
	  
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name</th>
		      <th scope="col">Model</th>
		      <th scope="col">Trademark</th>
		      <th scope="col">Color</th>
		      <th scope="col">Editar</th>
		      <th scope="col">Eliminar</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="auto in ctrl.autos">
		      <th scope="row">{{auto.id}}</th>
		      <td>{{auto.name}}</td>
		      <td>{{auto.model}}</td>
		      <td>{{auto.trademark}}</td>
		      <td>{{auto.color}}</td>
		      <td><button type="button" class="btn btn-light">Editar</button></td>
		      <td><button type="button" class="btn btn-danger" ng-click="ctrl.deleteAuto(auto)">Eliminar</button></td>
		    </tr>
		  </tbody>
		</table>
		</div>
	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
  </body>
</html>